.game2-col {
    height: 25vh;
    text-align: center;
}

.game2-card {
    display: inline-block;
    margin: 2.5vh 0;
}

.game2-card-img {
    height: 18.8vh; /* 30 - .6 * 2 */
    width: auto;
    border-width: .6vh !important;
    will-change: transform;
}

img.game2-card-img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

div.game2-card-img {
    display: table;
}

div.game2-card-img div {
    display: table-cell;
    vertical-align: middle;
}

div.game2-card-img span {
    font-size: 3vh;
}

div.game2-card-img rt {
    font-size: 1.88vh;
}

.game2-card.enter {
    animation-name: game2-card-enter;
    animation-duration: 1s;
}

@keyframes game2-card-enter {
    from {
        transform: scale(0) rotate(360deg);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.game2-card.flip {
    animation-name: game2-card-flip;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes game2-card-flip {
    from {
        transform: none;
    }
    to {
        transform: rotateY(180deg);
    }
}

.game2-card.exit {
    animation-name: game2-card-exit;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes game2-card-exit {
    from {
        transform: rotateY(180deg);
    }
    99% {
        /* scale(0) or even 0.0001 doesn't work for some reason */
        transform: scale(0.001) rotateY(180deg);
        opacity: 1;
    }
    to {
        transform: scale(0.001) rotateY(180deg);
        opacity: 0;
    }
}

.game2-card.flipback {
    animation-name: game2-card-flipback;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes game2-card-flipback {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: none;
    }
}
