html.game-in-progress,
html.game-in-progress body {
    overflow: hidden;
}

html.game-in-progress body {
    position: relative;
}

#game {
    height: 100vh;
}

#game-header {
    height: 10vh;
}

#game-score {
    font-size: 10vh;
}

#game-timer {
    font-size: 10vh;
    text-align: center;
}

#game-stars {
    text-align: right;
}

#game-stars > span {
    transition: 1s;
    display: inline-block;
    width: 0;
    height: 0;
    margin: 5vh;
    background-image: url("../img/star.png");
    background-size: 0;
    transform: translateX(-20vh) rotate(360deg);
}

#game-stars > span.game-star {
    width: 10vh;
    height: 10vh;
    margin: 0;
    background-size: 10vh;
    transform: none;
}

#game-body {
    height: 70vh;
}

#game-footer {
    height: 10vh;
}

#game-control {
    z-index: 100;
}

#game-control img {
    height: 8vh;
    width: auto;
    margin-top: 2vh;
}

.game-word.animate > span > span {
    display: inline-block;
    animation-name: game-word-span;
    animation-duration: 1s;
}

@keyframes game-word-span {
    from {
        transform: scale(1.8);
        text-shadow:
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white;
    }
    25% {
        transform: scale(2);
        text-shadow:
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 10vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white,
            0 0 20vh white;
    }
    to {
        transform: none;
        text-shadow: none;
    }
}

#game-word1 {
    font-size: 10vh;
    text-align: center;
}

.game-word.animate {
    animation-name: game-word;
    animation-duration: 1s;
}

@keyframes game-word {
    from {
        transform: translateY(-40vh);
    }
    25% {
        transform: translateY(-40vh);
    }
    to {
        transform: none;
    }
}

#game-word2 {
    font-size: 10vh;
    text-align: right;
}

#game-word2.animate > span {
    display: inline-block;
    animation-name: game-word2-span;
    animation-duration: 1s;
}

@keyframes game-word2-span {
    from {
        transform: translateX(-50vw) translateX(50%);
    }
    25% {
        transform: translateX(-50vw) translateX(50%);
    }
    to {
        transform: none;
    }
}

#scoreboard .modal-dialog {
    max-width: none;
    margin: 5vh 5vw;
}

#scoreboard .modal-content {
    width: 90vw;
    height: 90vh;
}

#scoreboard p {
    text-align: center;
    font-size: 20vh;
    margin-top: 5vh;
}

#scoreboard p img {
    height: 20vh;
    width: auto;
    margin: 0 5vh;
}

#scoreboard p img.grayscale {
    filter: grayscale(100%);
}

#portrait-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 9999; /* Bootstrap modal has z-index: 1050; */
}

#portrait-overlay p {
    text-align: center;
    font-size: 5vh;
    margin-top: 15vh;
    line-height: 8vh;
}
