.game3-card {
    position: absolute;
    margin: 10vh auto;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.game3-card-img {
    height: 48vh; /* 50 - 1 * 2 */
    width: auto;
    border-width: 1vh !important;
    margin: 0 auto;
    background-color: white;
    pointer-events: auto;
    will-change: transform;
}

img.game3-card-img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

div.game3-card-img {
    display: table;
}

div.game3-card-img div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.game3-card-img span {
    font-size: 8vh;
}

div.game3-card-img rt {
    font-size: 4.8vh;
}

.game3-card-wrap.stop {
    animation-play-state: paused !important;
}

.game3-card.fadeout {
    opacity: 0;
    transition: opacity 1s;
}

.game3-card-flip.execute {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.game3-card-magnify.execute {
    animation-name: game3-card-magnify;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes game3-card-magnify {
    from {
        transform: none;
    }
    50% {
        opacity: 1;
    }
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}
