.game1-col {
    text-align: center;
}

.game1-card {
    display: inline-block;
    margin: 10vh 0;
}

.game1-card-img {
    height: 48vh; /* 50 - 1 * 2 */
    width: auto;
    border-width: 1vh !important;
    will-change: transform;
}

img.game1-card-img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

div.game1-card-img {
    display: table;
}

div.game1-card-img div {
    display: table-cell;
    vertical-align: middle;
}

div.game1-card-img span {
    font-size: 8vh;
}

div.game1-card-img rt {
    font-size: 4.8vh;
}

div.game1-card-img.fadeout {
    opacity: 0;
    transition: opacity 1s;
}

.game1-card.enter {
    animation-name: game1-card-enter;
    animation-duration: 1s;
}

@keyframes game1-card-enter {
    from {
        transform: scale(2) translateY(-20vh);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.game1-card.exit {
    animation-name: game1-card-exit;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes game1-card-exit {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: scale(2) translateY(-20vh);
        opacity: 0;
    }
}

.game1-col-left .game1-card.center {
    animation-name: game1-card-left-center;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes game1-card-left-center {
    from {
        transform: none;
    }
    50% {
        transform: translateX(33.333vw);
    }
    to {
        transform: translateX(33.333vw) rotateY(180deg);
    }
}

.game1-col-center .game1-card.center {
    animation-name: game1-card-flip;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.game1-col-right .game1-card.center {
    animation-name: game1-card-right-center;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes game1-card-right-center {
    from {
        transform: none;
    }
    50% {
        transform: translateX(-33.333vw);
    }
    to {
        transform: translateX(-33.333vw) rotateY(180deg);
    }
}

.game1-card.flip {
    animation-name: game1-card-flip;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes game1-card-flip {
    from {
        transform: none;
    }
    /* First 1s for rotating image back */
    50% {
        transform: none;
    }
    to {
        transform: rotateY(180deg);
    }
}
